.container {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  line-height: 1;
  white-space: nowrap;
  .icon {
    position: relative;
    display: block;
    flex: none;
    border-radius: var(--radius-md);
    overflow: hidden;
    display: grid;
    place-items: center;
    background: var(--color-secondary);
    color: white;
    font-family: "Noto Serif SC", serif;
    font-size: 25px;
    font-weight: 700;
    > span { transform: translateY(-1px); }
  }
  > span:last-child {
    color: var(--color-primary);
    font-family: "Public Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
  }
}
